h1{
    text-align: center;
    color: aqua;
}
.border{
    border: 1px dotted red;
}
.borderOne{
    border-left: 10px solid red;
}
.borderStyle{
    border-style: double;
}
.borderStyleMix{
    border-style: solid dotted double dashed;
}
.borderWidth{
    border-width: 1px 10px;
    border-style: groove;
}