h1{
    text-align: center;
    color: aqua;
}
.inline{
    border: 1px solid black;
    width: 200px;
    display: inline-block;
}
.block{
    border: 1px solid red;
    width: 200px;
    display: inline-block;
}
.float_left img{
    width: 40%;
    float: left;
}
.clear{
    clear: both;
}
.float_right img{
    float: right;
    width: 40%;
}