.html,body{
    margin: 0;
    padding: 0;
}
.logo{
   width: 100%;
   height: 100%;

}

.logocontainer{
    width: 40px;
    height: 40px;
}

.left{
    display:inline-block;
    width:50%;
}
.inner{
   
}
.right{
    display:inline;
    width: 50%;

}
.ios{
    width:120px;
    height:60px;
}
.android{
    width:120px;
    height:45px;
}
.phone{
    width:80%;
    margin-left: 150px;
   
}
.room{
    text-decoration: none;
    color: inherit;
    margin-left: 15px;
    font-size: 16px;

}
.room:hover{
    border-bottom-style:solid ;
    border-bottom-color: #A033FF;
}

.box{
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    background-color:#F5F5F5;
    height: 35px;
    width: 250px;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size:15px;
}
.login{
    background-color: #0a7cff;
    border-radius: 24px;
    border: none;
    color: white;
    padding: 2px 20px 0;
    font-size: 19px;
    height: 40px;
    width:100px ;
}
.all{
    max-width: 850px;
    margin: 0 auto;

}
.menu{
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    top: 0;
    border-bottom: 1px lightgrey solid;
    background-color: #F5F5F5;
    opacity: 0.9;
}

.options{
  

}
.header{
    margin-bottom:20px ;
    font-size: 70px;
    color:rgb(121, 56, 224) ;
    font-family:Calibre, Helvetica Neue, Segoe UI, Helvetica, Arial, Lucida Grande, sans-serif;
}
.mid{
    margin-bottom:20px;
    
}
.checkbox{
    margin-bottom: 20px;
}
.password{
    margin-bottom: 20px;
}
/* .password:hover{
    border-bottom-style: solid;
    border-bottom-color: #A033FF ;
} */
.bottom{
    text-align: center;
    font-size: 30px;
    margin-top: 200px;
    color: rgb(121, 56, 224);
    font-family:Calibre, Helvetica Neue, Segoe UI, Helvetica, Arial, Lucida Grande, sans-serif;
    font-weight:500;
    background-color:#F5F5F5;
   
    padding: 20px 20px;
}
.bar{
    width: 25px;
    height: 20px;
}
.menubar{
    display: none;
}
@media (max-width:767px)  {
    .options {
        display: none;
    }
.menubar{
    display: block;
}
.left{
    width: 100%; 
}
.inner{
    width: 75%;
    margin: 0 auto;
}
.right{
    width: 100%;
    overflow: scroll;
    margin-right:-20;
    text-align: center;

}
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.menu{
    
}