
*{
    margin: 0px;
    padding: 0px;
}
#menu{
    position: absolute;
    top: 60px;
    
}
#nav_button{
    color:rgb(224, 11, 11);
    border: 1px solid rgb(224, 11, 11);
    background-color: black;
}
#most{
    text-align: right;
}
#menus{
    padding-top: 70px;
}

.title-word {
    animation: color-animation 4s linear infinite;
  }
  
  .title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  
  .title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
  }
  
  .title-word-3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
  }
  
  .title-word-4 {
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #E4A9A8;
  }
  
  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }
#menus p{
    animation: moveright 1s linear 1;
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
@keyframes moveright{
    0%{
        transform: translateX(100px);
        visibility: visible;
    }
    100%{
        transform:translateX(0);
        visibility: visible;
    }
}
#animate2 h1{
    text-transform: uppercase;
    
}
.image{
    width: 100%;
}
#aTag:hover{
    text-decoration: underline;

}
#aTag{
    color: rgb(224, 11, 11);
    font-size: 18px;
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
}
#bar p{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
#nav_bar{
    background-color: black;
    opacity: 0.9;
}
.input-group{
    width: 70%;
    margin: auto;
}
#footer{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}
.iTag1{
    font-size: 27px;
    color: rgb(230, 2, 2);
}
#button1{
    border: 1px solid rgb(230, 2, 2);
    color: white;
    background-color: rgb(230, 2, 2);
    
}

.textdanger{
    color: #c0150c;
}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size:50px;
}


@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 5px 5px 5px 32px;
    text-decoration: none;
    font-size: 15px;
    color: rgb(177, 3, 3);
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color:  #8b8b8b;
}
  
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#allcontainer{
    transition:margin-left .5s;
    padding: 16px;
}
.dropdown-container {
    display: none;
    background-color: #000000;
    padding-left: 8px;
}
.fa-caret-down {
    float: right;
    padding-right: 8px;
}
.active {
    background-color: green;
    color: white;
}
.dropdown-btn {
    padding: 5px 5px 5px 15px;
    text-decoration: none;
    font-size: 15px;
    color: rgb(177, 3, 3);
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}
.dropdown-btn:hover {
    color: #8b8b8b;
}
  